<h1>Enter a word to see it's Scrabble score!</h1>

<form action='/score'>
  <div class="form-group">
    <label for="score">Word to score:</label>
    <input id="score" name="score" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-primary">Get Score</button>
</form>
